@import '../../Scss/Config.scss';

#ministudio {
  &.content__wrapper {
    @media all and (min-width: $BreakpointDesktop) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .main__content {
    @media all and (min-width: $BreakpointDesktop) {
      padding: 0 0 0 50px;
      width: auto;
    }
  }

  .studio__img--desktop {
    @media all and (min-width: $BreakpointDesktop) {
      background: url('../../assets/img/SE_ministudio.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 650px;
      width: 600px;
      margin: 0 0 0 50px;
    }
  }

  .studio__img--mobile {
    position: relative;
    background: url('../../assets/img/SE_ministudio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:0 -107px;
    height: 280px;
    margin: 0;
    padding: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: fade-out($color2, 0.6);
      z-index: 1;
    }

    @media all and (min-width: $BreakpointDesktop) {
      background: unset;
      height: 0;
      width: 0;
    }
  }

  ul {
    @include boxShadow($color1);
    padding: 10px;
    @media all and (min-width: $BreakpointDesktop) {
      box-shadow: none;
    }
    li {
      font-size: 1.4rem;
      @media all and (min-width: $BreakpointDesktop) {
      }
    }
  }
}
