@import "../../../Scss/Config.scss";

.arrow__up--box {
 position: fixed;
 cursor: pointer;
 justify-content: center;
 align-items: center;
 height: 50px;
 width: 100vw;
 bottom: 0;
//  border-top: 1px solid $color2;
 background: fade-out($color2, .7);
 z-index: 15;

 @media all and (min-width: $BreakpointDesktop) {
  height: 40px;
  width: 40px;
  bottom: 40px;
  right: 20px;
  background: unset;
  @include boxShadow($color1);
 }


 .arow__up {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  margin-top: 18px;
  transform: rotate(45deg);
  border-left: 2px solid $color5;
  border-top: 2px solid $color5;

  @media all and (min-width: $BreakpointDesktop) {
   height: 20px;
   width: 20px;
   margin: 0 auto;
   margin-top: calc(50% - 6px);
  }
  }

  &:hover {
      .arow__up {
    border-left: 2px solid fade-out($color5, .5);
    border-top: 2px solid fade-out($color5, .5);
      }  
}
 }
