@import '../../Scss/Config.scss';

.photo__slider {
  $Sliderheight: 80vh;
  $imgHeight: $Sliderheight / 1.1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 


  position: fixed;
  top: $Sliderheight / 5;
  left: 0;
  padding: 10px;
  height: $Sliderheight;
  width: 99vw;
  background: $color2;

  img {
      height: $imgHeight;
      margin: 0 10px;
  }

  .img__visible {
    
  }

}
