@import "../Scss/Config.scss";

.content__box {
//  height: 500px;
//  width: 100%;

 @media all and (min-width: $BreakpointDesktop) {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
 }
}
