@import "../Scss/Config.scss";

.content__box {
 @media all and (min-width: $BreakpointDesktop) {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  padding: 15px 0 0 0;
 }

 .main__content {
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 10px 20px 10px;

  @media all and (min-width: $BreakpointDesktop) {
   padding: 50px;
   width: 80%;
   margin: 0 auto;
  }
 }

 h1,
 h2 {
  display: block;
  margin: 30px 0;
  text-align: left;
  @media all and (min-width: $BreakpointDesktop) {
   margin: 20px 0 50px 0;
  }
 }
 h1 {
  font-size: 2.4rem;
  span {
   font-size: 3rem;
   color: $color3;
  }
 }

 h2 {
  font-size: 2rem;
  span {
   font-size: 2.5rem;
   color: $color3;
  }
 }

 p,
 ul,
 li {
    display: block;
    font-size: 1.5rem;
    line-height: 1.8em;
    margin: 10px 0;
    @media all and (min-width: $BreakpointDesktop) {
        font-size: 1.4rem;
    }

  span {
   font-size: 1.5em;
   color: $color4;
  }
 }
}

.text__box {
 display: flex;
 flex-direction: column;

 @media all and (min-width: $BreakpointDesktop) {
  margin: 0 auto;
 }

 .read--more {
  display: none;
 }
}

.tiles__box {
 display: flex;
 flex-direction: column;

 @media all and (min-width: $BreakpointDesktop) {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
}

.underline {
 width: 20%;
 height: 3px;
 margin: 5px 0 20px 0;
 border-bottom: 2px solid $color4;
}

// Graphics elements

.flag--addon {
 position: fixed;
 top: 0;
 right: 0;
 height: 59px;
 width: 81%;
 background: url("../assets/img/flag.png");
 background-position: 100% 88%;
 background-size: 100%;
 background-repeat: no-repeat;
 z-index: 8;

 @media all and (min-width: $BreakpointDesktop) {
  top: unset;
  bottom: 0;
  right: unset;
  height: 25px;
  width: 1400px;
  left: calc(50% - 700px);
  background-position: 100% 88%;
  background-size: 100%;
 }
}
