@import "../Scss/Config.scss";

.content__box {
    padding: 10px;
 @media all and (min-width: $BreakpointDesktop) {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
 }

 .main__content {
    //  width: 100%;
    flex-direction: column;
    padding: 80px 10px 20px 10px;

    @media all and (min-width: $BreakpointDesktop) {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    }
}

h1, h2 {
    margin: 20px 0;
    width: 100%;
    text-align: left;
    @media all and (min-width: $BreakpointDesktop) { 
        margin: 20px 0;    
    }
}
 h1 {
  font-size: 2.8rem;
  span {
   font-size: 3.5rem;
   color: $color3;
  }
 }

 h2 {
  font-size: 2rem;
  span {
   font-size: 3rem;
  }
 }

 p, ul, li {
  font-size: 1.7rem;
  margin: 10px 0;

  span {
      font-size: 1.5em;
      color: $color4
  }
 }
}

.flag--addon {
 position: fixed;
 top: 0;
 right: 0;
 height: 59px;
 width: 81%;
 background: url("../assets/img/flag.png");
 background-position: 100% 88%;
 background-size: 100%;
 background-repeat: no-repeat;

 @media all and (min-width: $BreakpointDesktop) {

  top: unset;
  bottom: 0;
  height: 25px;
  width: 100%;
  background-position: 100% 88%;
  background-size: 100%;
 }
}

.text__box {

    display: flex;
    flex-direction: column;


    @media all and (min-width: $BreakpointDesktop) {
        // width: 70%;
        margin: 0 auto;
    }
    
    .read--more {
        display: none;
    }
}