.portfolio__items__container {
 .portfolio__items__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
  width: 100%;
 }

 .portfolio__description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  h2 {
   margin: 0 0 20px 0;
  }
 }

 a {
    text-decoration: none;
   }
}
