@import "../../Scss/Config.scss";

#szkola {


.nav__item {
    display: initial;
  width: 165px;
  height: 1.6rem;
  margin: 0 0 0 2px;
  padding: 5px;
  color: $color2;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0%;
        width: 100%;
        background: fade-out($color4, .6);
        transition: all 0.3s ease-in-out;
        z-index: -1;
       }
     
       &:hover:after {
        height: 100%;
       }
       &:hover {
        color: $color5;
        border-bottom: 2px solid $color5;
       }
    }

}