@import "../../Scss/Config.scss";

#szkola {

  $tileGroupCOntainerHeight: 500px;

  .nav__item {
    display: initial;
    width: 165px;
    height: 1.6rem;
    margin: 0 0 0 2px;
    padding: 5px;
    color: $color5;
    font-size: 1.4rem;
    border-bottom: 1px solid $color2;
  
    @media all and (min-width: $BreakpointDesktop) {
     color: $color2;
     border-bottom: 1px solid $color5;
     transition: all .1s ease-in-out;
     &:after {
      background: unset;
     }
     &:hover {
      color: $color5;
      border-bottom: 2px solid $color5;
     }
    }
   }    

   //  Images

.img__vertical {
  height: $oSzkolePhotoHeight;
}

// Tiles section
   .tiles__box {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;

     @media all and (min-width: $BreakpointDesktop) {
      flex-direction: row;
      
      &:nth-of-type(even) {
        flex-direction: row-reverse;
       }
    }
    }

    .tile {
      width: 270px;
      height: ($oSzkolePhotoHeight / 3.1)
    }

}