@import "../../Scss/Config.scss";
.prices__container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 width: 100%;
 @media all and (min-width: $BreakpointDesktop) {
  flex-direction: row;
 }

 .left,
 .right {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  @include boxShadow($color1);

  @media all and (min-width: $BreakpointDesktop) {
   width: 49%;
  }
 }

 .left {
  margin-bottom: 20px;
  @media all and (min-width: $BreakpointDesktop) {
   margin-bottom: unset;
  }
 }
}

.footnote {
 font-size: 1rem;
 font-style: italic;
}

.asterisk {
 color: $color5 !important;
}

.price__item__list {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 .price__item {
  padding: 5px 0;
  margin: 5px 0;

  div {
   font-size: 1.4rem;
   line-height: 2em;
  }

  :nth-child(1) {
   float: left;
  }
  :nth-child(2) {
   float: right;
  }
  :nth-child(3) {
   clear: both;
  }

  .bold {
   color: unset;
   font-size: 1.1em;
   font-weight: bold;
   padding-right: 5px;
  }
 }
}

#cennik {
 .text__box {
  margin-top: 20px;
  @media all and (min-width: $BreakpointDesktop) {
   // margin-top: 30px;
  }
 }

 .h2__header--adjust {
  &:nth-of-type(1) {
   margin-bottom: 40px;
  }
  &:nth-of-type(2) {
   margin-top: 40px;
  }
  margin: 10px 0 20px 0;
 }
}

// courses images

.matura {
 background: url("../../assets/img/matura.jpg");
}

.up-to-date {
 background: url("../../assets/img/up_to_date.jpg");
}

.fce-wannabe {
 background: url("../../assets/img/fce_wannabe.jpg");
}

.se-course {
 background: url("../../assets/img/se_course_2.jpg");
}

.bluecollar-rush {
 background: url("../../assets/img/bluecollar_rush.jpg");
}

.about-time {
 background: url("../../assets/img/about_time.jpg");
}

.sound-meets-kids {
 background: url("../../assets/img/sound_meets_kids.jpg");
 background-position: -80px !important;
 @media all and (min-width: $BreakpointDesktop) {
    background-position: center !important;
}
}

.guitar-master {
    background: url("../../assets/img/guitar2.jpg");
}