Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.soundenglish.pl$ [NC]
RewriteRule ^(.*)$ http://soundenglish.pl/$1 [R=301,L]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L,NC]