@import "./Scss/Config.scss";

* {
 margin: 0;
 padding: 0;
 border: 0px;
 box-sizing: border-box;
 font-size: 10px;
 @include font;
}

#root {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.App {
 width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 @media all and (min-width: $BreakpointDesktop) {
  max-width: $maxWidth;
  background-color: fade-out($color1, 0.6);
  border-radius: 5px;
  justify-content: flex-start;
  align-items: flex-start;
 }
}

.content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 @media all and (min-width: $BreakpointDesktop) {
width: 100%;
// align-items: flex-start;
}
}

.flag {
 position: fixed;
 bottom: 0;
 right: 0;
 height: 100%;
 width: 100%;
 opacity: 0.9;
 background: url("./assets/img/flag.png");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 0;
 z-index: -1;
 @media all and (min-width: $BreakpointDesktop) {
    display: none;
    }
}
