@import "./Scss/Config.scss";

* {
 margin: 0;
 padding: 0;
 border: 0px;
 box-sizing: border-box;
 font-size: $defaultFontSize;
 @include font;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    // cursor: url('assets/ico/pointer.png'), auto;
}

.App {
 width: 100%;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 @media all and (min-width: $BreakpointDesktop) {
  max-width: $maxWidth;
//   background-color: fade-out($color1, 0.6);
  border-radius: 5px;
  justify-content: flex-start;
  align-items: flex-start;
 }
}
