// Font

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@mixin font {
    font-family: 'Montserrat', sans-serif;
}

$defaultFontSize: 10px;

//App max width
$maxWidth: 1400px;

//Brekpoint
$BreakpointDesktop: 740px;

//Colors
$color0: #ffffff;
$color1: #ededee;
$color2: #3e4880;
$color3: #3bbae8;
$color4: #4eccf5;
$color5: #ee3153;

// Box effects
@mixin boxShadow ($rgbaBoxColor) {
    -webkit-box-shadow: 0px 0px 5px 2px $rgbaBoxColor;
    -moz-box-shadow: 0px 0px 5px 2px $rgbaBoxColor;
    box-shadow: 0px 0px 5px 2px $rgbaBoxColor;
  }
