@import '../../Scss/Config.scss';

#nasz-zespol {
  .team-member__name {
    &:first-letter {
      font-size: 2.8rem;
    }
  }
  h2 {
    @media all and (min-width: $BreakpointDesktop) {
      margin: 30px 0;

      &:first-of-type {
        margin: 20px 0;
      }
    }
  }

  p {
    @media all and (min-width: $BreakpointDesktop) {
      text-align: justify;
    }
    i {
      line-height: inherit;
      font-size: inherit;
    }
  }

  .content__flex__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    @media all and (min-width: $BreakpointDesktop) {
      flex-direction: row;
    }
  }

  .img1 {
    background: url('../../assets/img/bartek_piwowarczyk.jpg');
    @media all and (min-width: $BreakpointDesktop) {
      margin: 0 20px 0 0 !important;
      float: left;
    }
    @media all and (max-width: $BreakpointDesktop) and (orientation: 'landscape') {
      background-position: 0px -60px !important;
    }
  }

  .img2 {
    background: url('../../assets/img/michal_kleinszmidt.jpeg');
    @media all and (min-width: $BreakpointDesktop) {
      margin: 0 0 0 20px !important;
      float: right;
    }
    @media all and (max-width: $BreakpointDesktop) and (orientation: 'landscape') {
      background-position: 0px -150px !important;
    }
  }

  .nasz-zespol__img {
    position: relative;
    height: 250px;
    width: 100%;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 30px 0;

    @media all and (min-width: $BreakpointDesktop) {
      height: 400px;
      width: 50%;
      background-size: cover;
      background-position: center;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: fade-out($color4, 0.9);
    }
  }
}
