@import "../../Scss/Config.scss";

.nav {
 display: flex;
 position: fixed;
 top: 0;
 left: -100%;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 100%;
height: 100%;
background: fade-out($color2, .2);
transition: all .3s ease-in-out;

 @media all and (min-width: $BreakpointDesktop) {
    flex-direction: row;
  position: initial;
  height: 100px;
  background: fade-out($color2, 0.4);
 }
}

.show {
    left: 0;
}
