@import "../../Scss/Config.scss";

#portfolio {

  .nav__item {
    display: initial;
    width: 165px;
    height: 1.6rem;
    margin: 0 0 0 2px;
    padding: 5px;
    color: $color5;
    font-size: 1.4rem;
    border-bottom: 1px solid $color2;
  
    @media all and (min-width: $BreakpointDesktop) {
     color: $color2;
     border-bottom: 1px solid $color5;
     transition: all .1s ease-in-out;
     &:after {
      background: unset;
     }
     &:hover {
      color: $color5;
      border-bottom: 2px solid $color5;
     }
    }
   }    

}