@import "../../../Scss/Config.scss";

.nav__item {
 display: block;
 width: 150px;
 text-align: center;
 color: $color3;
 text-decoration: none;
 font-size: 2rem;
 padding: 10px;
 margin-right: 10px;
 border: 1px solid black;
 transition: all 0.3s ease-in-out;

 &:hover {
  color: $color4;
  background: $color4;
 }
}
