@import "../../Scss/Config.scss";

#not__found {
 position: fixed;
 display: flex;
 justify-content: center;
 height: 100vh;
 width: 100vw;
 left: 0;
 top: 0;
 z-index: 10;

 .content__box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 20;

  @media all and (min-width: $BreakpointDesktop) {
   padding: 0;
   flex-direction: column;
   justify-content: center;
   align-items: center !important;
  }
 }

 .bg__img {
  position: absolute;
  background: url("../../assets/img/404-page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: -1;

  &:after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100vh;
   width: 100vw;
   background: fade-out($color2, 0.3);
   z-index: 11;
  }
 }

 .nav__item {
  position: absolute;
  width: 138px;
  bottom: 10px;
  left: calc(50% - 69px);
  font-size: 1.3rem;
  color: $color5;
  @media all and (min-width: $BreakpointDesktop) {
   position: relative;
   font-size: 1.8rem;
   width: unset;
   left: unset;
   color: $color1;
  }
 }

 h1 {
  text-align: center !important;
  color: $color1;
  font-size: 8rem !important;

  @media all and (min-width: $BreakpointDesktop) {
   font-size: 12rem !important;
   margin: 0;
  }
  span {
   font-size: 10rem !important;
   @media all and (min-width: $BreakpointDesktop) {
    font-size: 15rem !important;
   }
  }
 }

 h2 {
  color: $color1;
  font-size: 2.2rem;
  text-align: center;
  @media all and (min-width: $BreakpointDesktop) {
   font-size: 3rem;
   text-align: unset;
  }
 }

 p {
  color: $color1;
  font-size: 2rem;
  text-align: center;
 }

 .logo {
  background: url("../../assets/img/logo.png");
  height: 200px;
  margin: 0 !important;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media all and (min-width: $BreakpointDesktop) {
   height: 210px;
   width: 130px;
   margin-top: 20px;
  }
 }
}
